.no-padding{
    padding: 0px;
}

#address{
    width:95%;
}

#location{
  float: right;
  position: relative;
  top: -40px;
  right: 5px;
}

#location img{
  position: relative;
  width:20px;
}

.ui-btn-icon-left .ui-btn-inner {
padding-left: 20px;
}

.ui-btn-icon-left>.ui-btn-inner>.ui-icon, .ui-btn-icon-right>.ui-btn-inner>.ui-icon {
  left: 8px;
}

#delete-form a{
  width: 45%;
}

h1.title-front{
  font-size: 82px;
  margin: auto;
}

.banner{
  text-align: center;
  max-width: 500px;
  margin: 10px auto 0;
}

.banner img{
  max-width: 100%;
}